

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #b39678;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 0.25rem;
}

#resultado {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2rem;
}

#financiamentoForm button {
    color: rgb(255, 255, 255);
    background-color:#333333;
    border: #333333;
}